<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :public_visible %><br>
    <%= f.text_field :public_visible %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :subscription_id %><br>
    <%= f.number_field :subscription_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :entry_date %><br>
    <%= f.datetime_select :entry_date %>
  </div>
  <div class="field">
    <%= f.label :entry_location %><br>
    <%= f.text_field :entry_location %>
  </div>
  <div class="field">
    <%= f.label :is_proxy %><br>
    <%= f.check_box :is_proxy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
