<div class="modal-header">
  <button id="bid-modal-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="bid-header">Bids - <%= @car.model %></h3>
</div>
<div class="modal-body">
  <strong>Start Price: <%= @car.price %></strong>
  <% @bids.each do |bid| %>
      <div>
        <table width="100%">
          <thead>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <tr bgcolor="#eeeeee">
            <td><strong><%= bid.user.username %>:</strong></td>
            <td align="right"><%= bid.price %></td>
          <!--  <td width="9%"> <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                             [bid.car, bid],
                             :method => :delete,
                             :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                             :class => 'btn btn-mini btn-danger' %>
            </td>-->
          </tr>
          </tbody>
        </table>
      </div>
  <% end %>
</div>
<div class="modal-footer">
  <%= form_for [@car, @car.bids.build], url: bids_create_modal_path(@car), method: 'post', remote: true do |f| %>
      <div id="bid-modal-error">
      </div>
      <strong><%= current_user.username %>:</strong>
      <div class="input-append">
      <%= f.number_field :price, class: "span2" %>
        <%= f.submit nil, class: "btn" %>
      </div>
  <% end %>
</div>