<%= form_for(@running_entry) do |f| %>
  <% if @running_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@running_entry.errors.count, "error") %> prohibited this running_entry from being saved:</h2>

      <ul>
      <% @running_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_length %><br>
    <%= f.text_field :course_length %>
  </div>
  <div class="field">
    <%= f.label :course_type %><br>
    <%= f.text_field :course_type %>
  </div>
  <div class="field">
    <%= f.label :number_of_round %><br>
    <%= f.number_field :number_of_round %>
  </div>
  <div class="field">
    <%= f.label :track %><br>
    <%= f.text_field :track %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
