<p id="notice"><%= notice %></p>

<p>
  <strong>Course length:</strong>
  <%= @running_entry.course_length %>
</p>

<p>
  <strong>Course type:</strong>
  <%= @running_entry.course_type %>
</p>

<p>
  <strong>Number of round:</strong>
  <%= @running_entry.number_of_round %>
</p>

<p>
  <strong>Track:</strong>
  <%= @running_entry.track %>
</p>

<%= link_to 'Edit', edit_running_entry_path(@running_entry) %> |
<%= link_to 'Back', running_entries_path %>
