<div style="padding: 0px 20px 0px 20px;">
  <style scoped>
      .headtable {
          color: #787878;
          font-size: 2em;
          font-weight: bold;
      }

      .partnershiptable > tbody > tr > th {
          border-bottom: 1px solid #CCCCCC;
          padding: 10px 0px 0px 0px;
          margin: 0px 0px 20px 10px;
          text-align: left;
      }
  </style>


  <table class="partnershiptable" width="100%">
    <tr>
      <th width="30%"><strong class="headtable">Request Partnerships</strong></th>
      <th width="20%"></th>
      <th width="40%">
        <div id="participants"></div>
      </th>
      <th width="10%">
        <button type="button" id="request">Request</button>
      </th>
    </tr>
  </table>
  </br>

  <table width="100%">
    <% found = false %>
    <% @partnerships.each do |partnership| %>
        <% if (partnership.first_participant_confirmed && !partnership.second_participant_confirmed && partnership.participants[0].reference == Participant.find_by(user_id: current_user.id).reference) %>
            <% if (partnership.participants[0].user.username == current_user.username) %>
                <% found = true %>
                <tr>
                  <td width="30%"><%= partnership.participants[1].user.username %></td>
                  <td width="20%"></td>
                  <td width="40%"></td>
                  <td width="10%"><%= link_to 'Cancel', partnership, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default btn-danger' %></td>
                </tr>
            <% else %>
                <% found = true %>
                <tr>
                  <td width="30%"><%= partnership.participants[0].user.username %></td>
                  <td width="20%"></td>
                  <td width="40%"></td>
                  <td width="10%"><%= link_to 'Cancel', partnership, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default btn-danger' %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>

    <% if (!found) %>
        <tr>
          <td width="100%">No Request.</td>
        </tr>
    <% end %>
  </table>

  </br>
  </br>

  <table class="partnershiptable" width="100%">
    <tr>
      <th width="100%"><strong class="headtable">Asking Partnerships</strong></th>
    </tr>
  </table>
  </br>
  <table width="100%">
    <% found = false %>
    <% @partnerships.each do |partnership| %>
        <% if (!partnership.second_participant_confirmed && partnership.participants[0].reference != Participant.find_by(user_id: current_user.id).reference) %>
            <% if (partnership.participants[0].user.username == current_user.username) %>
                <% found = true %>
                <tr>
                  <td width="30%"><%= partnership.participants[1].user.username %></td>
                  <td width="20%"></td>
                  <td width="40%"></td>
                  <td width="10%"><%= link_to 'Accept', partnership_partnership_accept_path(partnership), class: 'btn btn-default' %></td>
                </tr>
            <% else %>
                <% found = true %>
                <tr>
                  <td width="30%"><%= partnership.participants[0].user.username %></td>
                  <td width="20%"></td>
                  <td width="40%"></td>
                  <td width="10%"><%= link_to 'Accept', partnership_partnership_accept_path(partnership), class: 'btn btn-default' %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
    <% if (!found) %>
        <tr>
          <td width="100%">No Asking.</td>
        </tr>
    <% end %>
  </table>

  </br>
  </br>

  <table class="partnershiptable" width="100%">
    <tr>
      <th width="100%"><strong class="headtable">Friends</strong></th>
    </tr>
  </table>
  </br>
  <table width="100%">
    <% found = false %>
    <% @partnerships.each do |partnership| %>
        <% if (partnership.first_participant_confirmed && partnership.second_participant_confirmed) %>
            <% if (partnership.participants[0].user.username == current_user.username) %>
                <% found = true %>
                <tr>
                  <td width="30%"><%= partnership.participants[1].user.username %></td>
                  <td width="20%"></td>
                  <td width="40%"></td>
                  <td width="10%"><%= link_to 'UnFriend', partnership, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default btn-danger' %></td>
                </tr>
            <% else %>
                <% found = true %>
                <tr>
                  <td width="30%"><%= partnership.participants[0].user.username %></td>
                  <td width="20%"></td>
                  <td width="40%"></td>
                  <td width="10%"><%= link_to 'UnFriend', partnership, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default btn-danger' %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
    <% if (!found) %>
        <tr>
          <td width="100%">No Friend.</td>
        </tr>
    <% end %>
  </table>

  <br>

  <script>
      $(function () {
          $("#participants").kendoMultiSelect({
              dataTextField: "text",
              dataValueField: "value",
              dataSource: {
                  transport: {
                      read: {
                          url: "/participantsall",
                          dataType: "jsonp"
                      }
                  },
                  schema: {
                      data: "participants",
                      model: {
                          id: "value",
                          fields: {
                              value: { from: "value"  },
                              text: { from: "text" }
                          }
                      }
                  }
              }
          });
          $("#request").click(function () {
              $.ajax({
                  url: "/partnershiprequest",
                  contentType: "application/json",
                  type: "POST",
                  dataType: "jsonp",
                  data: JSON.stringify({ participants: $("#participants").data("kendoMultiSelect").value() }),
                  success: function (result) {
                      location.reload();
                  },
                  error: function (result) {
                      location.reload();
                  }
              });
          });
      });
  </script>
</div>