<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @subscription.reference %>
</p>

<p>
  <strong>Public Visible:</strong>
  <%= @subscription.public_visible %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @subscription.sport.name %>
</p>


<h2>Entries</h2>
<% @subscription.entries.each do |entry| %>
    <p>
      <strong>Reference:</strong>
      <%= entry.reference %>
    </p>
<% end %>


<h2>Add a Subscription:</h2>
<%= form_for ([@subscription, @subscription.entries.build()]) do |f| %>
    <div class="field">
      <label>Comment:</label>
      <br>
      <input id="entry_comment" name="entry[comment]" type="text" /><br />
    </div>
    <div class="field">
      <label>Date:</label>
      <br>
      <input id="entry_date" name="entry[date]" type="text" /><br />
    </div>
    <div class="field">
      <label>Location:</label>
      <br>
      <input id="entry_location" name="entry[location]" type="text" /><br />
    </div>
    <%= f.submit %>

<% end %>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
