<div class="modal-header">
  <button id="car-modal-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="car-header">Edit -  <%= @car.model %></h3>
</div>
<%= form_for @car, url: cars_update_modal_path(@car), :html => {:class => 'form-horizontal'}, method: 'post', remote: true do |f| %>
    <div class="modal-body">
      <div class="control-group">
        <%= f.label :model %>
        <%= f.text_field :model, :class => 'text_field' %>
      </div>
      <div class="control-group">
        <%= f.label :brand %>
        <%= f.text_field :brand, :class => 'text_field' %>
      </div>
      <div class="control-group">
        <%= f.label :price %>
        <%= f.number_field :price, :class => 'number_field' %>
      </div>
    </div>
    <div class="modal-footer">
      <div id="car-modal-error">
      </div>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  cars_path, :class => 'btn' %>
    </div>
<% end %>
