<%- model_class = Car -%>
<% provide(:title, "List Cars") %>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div align="right">
  <%= form_tag(cars_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Model, Brand" %>
        <button class="btn" type="submit"><i class="icon-search"></i></button>
      </div>
  <% end %>
  <%= yield %></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:brand) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:owner) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @cars.each do |car| %>
        <tr>
          <td><%= link_to car.id, car_path(car) %></td>
          <td><%= car.model %></td>
          <td><%= car.brand %></td>
          <td align="right"><%= car.price %></td>
          <td><%= car.user.username %></td>
          <td><%= l car.created_at %></td>
          <td>
            <% if current_user?(car.user) %>

                <%= link_to 'Edit', cars_edit_modal_path(car), {:id => 'edit-car-modal', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#car-modal-window', 'class' => "btn btn-mini"} %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            car_path(car),
                            :method => :delete,
                            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                            :class => 'btn btn-mini btn-danger' %>

            <% end %>

            <% if signed_in? %>
                <%= link_to "Bids(#{car.bids.count})", bids_modal_path(car), {:id => 'bid-modal', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#bid-modal-window', 'class' => "btn btn-mini"} %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


  <%= link_to 'New', cars_new_modal_path, {:id => 'new-car-modal', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#car-modal-window', 'class' => "btn btn-mini"} %>


  <div id="car-modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>

  <div id="bid-modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>

