<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "firmy", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
          <% if signed_in? %>
              <li><%= link_to "Partnerships", partnerships_path %></li>
              <li><%= link_to "Running", activities_running_path %></li>
              <li><%= link_to "Boxing", activities_boxing_path %></li>
              <li><%= link_to "Soccer", activities_soccer_path %></li>
              <li><%= link_to "Cycling", activities_cycling_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <%= current_user.username %> Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li><%= link_to 'My Profile', users_edit_modal_path(current_user), {:id => 'edit-user-modal', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#user-modal-window', 'class' => ""} %></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div id="user-modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>